<h2>Stash Integration Prototype</h2>
<blockquote>
  <p>The purpose of the prototype is to be sure that the Stash user interface and the engines for presenting and working with a metadata schema integrate and work together in a useful way.  It is not a full featured prototype of all the metadata elements or all functionality such as login, full metadata editing, full submission into a repository, etc.  It is not intended to have a high-fidelity or full featured interface, but test the use of the application along with a prototype metadata engine.</p>
</blockquote>
<p>It should mainly accomplish these tasks:</p>
<ul>
  <li>Allow user to upload a file or files as dataset (application).</li>
  <li>Allow user to delete a file (application).</li>
  <li>Allow user to choose a schema for storing their metadata (only datacite for now) but choosing is important since this will vary the engine used to enter or edit metadata and it may be expanded to test with two or more engines later. (application)</li>
  <li>Allow user to enter a few metadata fields in the datacite schema (metadata engine).</li>
  <li>Allow user to edit their fields (metadata engine).</li>
</ul>

