<div class="container">
  <h2 class="text-center">Describe, manage, and share your research data</h2>
  <br/>
  <h4>Stash Integration Prototype</h4>
  <blockquote>
    <p>The purpose of the prototype is to be sure that the Stash user interface and the engines for presenting and working with a metadata schema integrate and work together in a useful way.  It is not a full featured prototype of all the metadata elements or all functionality such as login, full metadata editing, full submission into a repository, etc.  It is not intended to have a high-fidelity or full featured interface, but test the use of the application along with a prototype metadata engine.</p>
  </blockquote>

  <div class= "container">
    <ul class="list-unstyled">
      <strong>Explore Dash</strong>
      <li>Find data</li>
      <li>Learn more about Stash</li>
      <li>Read FAQs</li>
      <li role="presentation"><%=link_to "Visit Stash Prototype on Github", 'https://github.com/bhavi/stash_prototype' %></li>
    </ul>
  </div>
</div>
