<h2>
  <span itemprop="name"><%= document_heading(document) %></span>
  <small>
    <%= geoblacklight_icon(document['layer_geom_type_s']) %>
    <%= geoblacklight_icon(document['affliation_s']) %>
    <%= geoblacklight_icon(document['rights_s']) %>
  </small>
</h2>